@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $light-gray;
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
}

// HEADER
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $white;
  height: 54px;
  padding: 12px 30px 12px 12px;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  p, span {
    font-size: 12px;
  }

  p{
    font-weight: bold;
  }

  .account-logo {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 15px;

    p {
      line-height: 1;
    }
  }

  .account-user {
    display: flex;
    justify-content: end;
    column-gap: 40px;
    margin-left: 20px;
    line-height: 1;

    &-info{
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        color: $text-gray;
      }
    }

    img {
      width: 30px; 
      height:30px;
    }
  }
}

//SIDEBAR
nav {
  background-color: $primary-color;
  color: $white;
  width: 60px;
  position: fixed;
  top: 54px;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .nav-upper {
    height: 300px;
    margin-bottom: 28px;
  }

  a{
    &:hover img{
      filter: invert(47%) sepia(89%) saturate(447%) hue-rotate(149deg) brightness(102%) contrast(87%);
    }
  }
}

//MAIN
main {
  padding: 20px 90px 20px 154px;
  height: 100%;
  width: 100%;
  overflow: auto;
  section {
    margin: auto;
  }
  h1 {
    font-size: 30px;
    margin: 20px 0 24px 0;
  }

  h2 {
    margin-bottom: 25px;
    margin-top: 40px;
  }
}

.servers > p {
   &:first-child{
    font-size: 12px;
    color: $text-gray;
  }
    font-size: 18px;
    line-height: 1.333;
}

.servers-form {
  background-color: $white;
  min-height: 150px;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  column-gap: 40px;
  row-gap: 20px;
  
  &-field{
    position: relative;
  }

  &-input {
    height: 50px;
    width: 100%;
    border: 2px solid $light-gray;
    font-size: 18px;
    padding: 15px;
    outline: none;

    &:hover, 
    &:focus {
      border-color: $light-blue;
    }
  }

  &-label {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: $white;
    padding: 0 10px;
    cursor: text;
    transition: all 100ms ease-in;
  }
}

.servers-form-input:focus ~ .servers-form-label,
.servers-form-input:not(:placeholder-shown).servers-form-input:not(:focus) ~ .servers-form-label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  line-height: 1.5;
}

.resources {
  ul {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark-gray;
    padding-bottom: 7px;

    a {
      text-decoration: none;
      line-height: 1.714;
      color: $text-blue;
      padding-bottom: 7px;
      &:hover{
        border-bottom: 4px solid $dark-blue;
        cursor: pointer;
      }
    }

    li:last-child a{
      color: $text-gray;
    }
  
    .resources-active{
      border-bottom: 4px solid $dark-blue;
    }
  }
 

  &-standard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
  }

  button {
    height: 70px;
    background-color: $white;
    border: none;
    font-size: 18px;
    line-height: 1.333;
    color: rgba(34, 35, 43, 0.8 );

    &:hover{
      background-color: $dark-blue;
      cursor: pointer;
      color:  rgba(255, 255, 255, 0.8);
    }
    &:hover span {
      color: $white;
    }

    span {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

@media (max-width: 980px) {
  main {
    padding: 20px 60px 20px 120px;
  }
}

@media (max-width: 900px) {
  .resources {
    ul {
      height: 28px;
      overflow: auto;
      border: 1px solid $dark-gray;
      li {
        width: 100%;
        padding-left: 5px;
      }
      .resources-active{
        border-bottom: none;
      }
      .resources-active-li{
        background-color: $dark-blue;
      }
      .resources-active-li a{
        color: $white;
      }
      a:hover{
        border-bottom: none;
        color: $white;
      }
      li:hover{
        background-color: $dark-blue;
        color: $white;
      }
    }
  }
}

@media (max-width: 800px) {
  .account-user-info > div {
    display: none;
  }

  main {
    padding: 20px 40px 20px 100px;
  }

  .servers > p {
    font-size: 16px;
  }

  .servers-form {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 500px) {

  main {
    padding: 20px 20px 20px 80px;

    h1 {
      font-size: 26px;
      margin: 16px 0 12px 0;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 22px;
    }
  }

  .servers > p {
     font-size: 14px;
  }

  .servers-form {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 30px 20px;

    &-label {
      left: 2px;
      font-size: 14px;
    }
    &-input {
      font-size: 14px;
    }
  }

  .resources-standard {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}